networks:
  FABLO_NETWORK:
    external: true
  v1-network:
    ipam:
      config:
        - subnet: 192.168.1.0/24
  v2-network:
    ipam:
      config:
        - subnet: 192.168.2.0/24
  v3-network:
    ipam:
      config:
        - subnet: 192.168.3.0/24

services:
  v1-gramine:
    image: gramine-registry:latest
    tty: true
    hostname: "gramine-container"
    networks:
      v1-network:
  v1-analyzer:
    image: analyzer-registry:latest
    hostname: "analysis-container"
    networks:
      v1-network:
  v2-gramine:
    image: gramine-registry:latest
    tty: true
    hostname: "gramine-container"
    networks:
      v2-network:
  v2-analyzer:
    image: analyzer-registry:latest
    hostname: "analysis-container"
    networks:
      v2-network:
  v3-gramine:
    image: gramine-registry:latest
    tty: true
    hostname: "gramine-container"
    networks:
      v3-network:
  v3-analyzer:
    image: analyzer-registry:latest
    hostname: "analysis-container"
    networks:
      v3-network:
  v1-api:
    image: api-registry:latest
    ports:
      - 80:80
    environment:
      - REGISTRY_ID=registry1.example.com
    networks:
      v1-network:
      FABLO_NETWORK:
  v2-api:
    image: api-registry:latest
    ports:
      - 81:80
    environment:
      - REGISTRY_ID=registry2.example.com
    networks:
      v2-network:
      FABLO_NETWORK:
  v3-api:
    image: api-registry:latest
    environment:
      - REGISTRY_ID=registry3.example.com
    ports:
      - 82:80
    networks:
      v3-network:
      FABLO_NETWORK:
  registry-ca:
    image: ca-registry:latest
    ports:
      - 8001:8000
  datatype-api:
    image: datatype-api:latest
    hostname: "datatype"
    ports:
      - 8003:80
  psuedo-ias:
    image: psuedo-ias:latest
    ports:
      - 8004:80
  psuedo-api:
    image: psuedo-api:latest
    ports:
      - 8005:443
