networks:
  FABLO_NETWORK:
    external: true
  v1-network:
    ipam:
      config:
        - subnet: 192.168.1.0/24
  v2-network:
    ipam:
      config:
        - subnet: 192.168.2.0/24
  v3-network:
    ipam:
      config:
        - subnet: 192.168.3.0/24

services:
  v1-gramine:
    image: ${GRAMINE_REGISTRY_IMAGE}:${GRAMINE_REGISTRY_IMAGE_TAG}
    tty: true
    hostname: "gramine-container"
    networks:
      v1-network:
  v1-analyzer:
    image: ${ANALYZER_REGISTRY_IMAGE}:${ANALYZER_REGISTRY_IMAGE_TAG}
    hostname: "analysis-container"
    networks:
      v1-network:
  v2-gramine:
    image: ${GRAMINE_REGISTRY_IMAGE}:${GRAMINE_REGISTRY_IMAGE_TAG}
    tty: true
    hostname: "gramine-container"
    networks:
      v2-network:
  v2-analyzer:
    image: ${ANALYZER_REGISTRY_IMAGE}:${ANALYZER_REGISTRY_IMAGE_TAG}
    hostname: "analysis-container"
    networks:
      v2-network:
  v3-gramine:
    image: ${GRAMINE_REGISTRY_IMAGE}:${GRAMINE_REGISTRY_IMAGE_TAG}
    tty: true
    hostname: "gramine-container"
    networks:
      v3-network:
  v3-analyzer:
    image: ${ANALYZER_REGISTRY_IMAGE}:${ANALYZER_REGISTRY_IMAGE_TAG}
    hostname: "analysis-container"
    networks:
      v3-network:
  v1-api:
    image: ${API_REGISTRY_IMAGE}:${API_REGISTRY_IMAGE_TAG}
    ports:
      - 80:80
    environment:
      - REGISTRY_ID=registry1.example.com
    networks:
      v1-network:
      FABLO_NETWORK:
  v2-api:
    image: ${API_REGISTRY_IMAGE}:${API_REGISTRY_IMAGE_TAG}
    ports:
      - 81:80
    environment:
      - REGISTRY_ID=registry2.example.com
    networks:
      v2-network:
      FABLO_NETWORK:
  v3-api:
    image: ${API_REGISTRY_IMAGE}:${API_REGISTRY_IMAGE_TAG}
    environment:
      - REGISTRY_ID=registry3.example.com
    ports:
      - 82:80
    networks:
      v3-network:
      FABLO_NETWORK:
  registry-ca:
    image: ${CA_REGISTRY_IMAGE}:${CA_REGISTRY_IMAGE_TAG}
    ports:
      - 8001:8000
  datatype-api:
    image: ${DATATYPE_API_IMAGE}:${DATATYPE_API_IMAGE_TAG}
    hostname: "datatype"
    ports:
      - 8003:80
  psuedo-ias:
    image: ${PSUEDO_IAS_DOCKER_IMAGE}:${PSUEDO_IAS_DOCKER_IMAGE_TAG}
    ports:
      - 8004:80
  psuedo-api:
    image: ${PSUEDO_API_DOCKER_IMAGE}:${PSUEDO_API_DOCKER_IMAGE_TAG}
    ports:
      - 8005:443
