provider/files/*.pem
!provider/files/Intel_SGX_Attestation_RootCA.pem
!provider/files/psuedo_Attestation_RootCA.pem
provider/files/*.key
provider/files/*.csr
provider/.env
provider/data
provider/data_eval_01/person/*
registry/fablo-target/
registry/.env
consumer/consumer.*
consumer/code/RootCA.pem
consumer/code/tokens
consumer/code/__pycache__
consumer/.env
consumer/logs/*
consumer/certs/*
*gramine-base_latest.tar.gz
docker/psuedo_api/server.*
docker/psuedo_api/key.pem
docker/db/02_create_data.sh

.DS_Store
**/cache/*

!.gitkeep
