x-extra-hosts: &vddpi_hosts
  extra_hosts:
    - "registry01.vddpi:${REGISTRY_IP}"
    - "consumer01.vddpi:${CONSUMER_IP}"
    - "provider01.vddpi:${PROVIDER_IP}"

x-svc-common: &svc_common
  <<: *vddpi_hosts
  restart: unless-stopped


services:
  gramine-consumer:
    <<: *svc_common
    image: gramine-consumer:latest
    container_name: gramine-consumer
    environment:
      - SPID=${SPID}
      - IS_LINKABLE=${IS_LINKABLE}
      - PRIVATE_CA=${PRIVATE_CA}
      - IAS_SUBSCRIPTION_KEY=${IAS_SUBSCRIPTION_KEY}
      - COUNTRY=${COUNTRY}
      - CNAME=${CNAME}
      - HOST_NAME=${CONSUMER_HOST_NAME}
    ports:
      - 443:443
      - 8001:8001
      - 8002:8002
    tty: true
    devices:
      - "/dev/sgx_enclave:/dev/sgx_enclave"
      - "/dev/sgx_provision:/dev/sgx_provision"
