x-extra-hosts: &vddpi_hosts
  extra_hosts:
    - "registry01.vddpi:${REGISTRY_IP}"
    - "consumer01.vddpi:${CONSUMER_IP}"
    - "provider01.vddpi:${PROVIDER_IP}"

x-svc-common: &svc_common
  <<: *vddpi_hosts
  restart: unless-stopped

services:
  gramine-consumer:
    <<: *svc_common
    image: gramine-consumer:latest
    container_name: ${CONSUMER_NAME}
    environment:
      - PRIVATE_CA=registry01.vddpi:8001
    ports:
      - ${CONSUMER_MANAGE_PORT}:8001
      - ${CONSUMER_APP_PORT}:8002
    volumes:
      - ./logs:/logs
      - ./certs:/root/certs
    tty: true
    devices:
      - "/dev/sgx_enclave:/dev/sgx_enclave"
      - "/dev/sgx_provision:/dev/sgx_provision"
