{
  "sources": [
    {
      "name": "ProvidedData",
      "comment": "provided data from data providers"
    }
  ],

  "sinks": [
    {
      "name": "DC",
      "comment": "data consumer"
    }
  ],

  "features": [],

  "rules": [
    {
      "name": "Data Linkage",
      "code": 5001,
      "sources": [ "ProvidedData" ],
      "sinks": [ "DC" ],
      "message_format": "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}
