x-extra-hosts: &vddpi_hosts
  extra_hosts:
    - "registry01.vddpi:${REGISTRY_IP}"
    - "consumer01.vddpi:${CONSUMER_IP}"
    - "provider01.vddpi:${PROVIDER_IP}"

x-svc-common: &svc_common
  <<: *vddpi_hosts
  restart: unless-stopped

services:
  server:
    <<: *svc_common
    image: server-provider:latest
    container_name: provider-server
    tty: true
    depends_on:
      - db
    environment:
      - SERVER_PORT=${SERVER_PORT}
      - HOST_NAME=${SERVER_HOST_NAME}
      - PRIVATE_CA=${PRIVATE_CA}
    volumes:
      - ./files:/root/files
      - ./data:/root/data
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    networks:
      provider-net:
  db:
    <<: *svc_common
    image: db-provider:latest
    container_name: provider-db
    command: --default-authentication-plugin=mysql_native_password
    networks:
      provider-net:
    ports:
      - 3306:3306

networks:
  provider-net:

